.navbar1 {

    padding: 25px 60px;

    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fix-center {
    margin-left: 13%;
    margin-right: auto;
    gap: 20px;
}

.mobile-icons {
    display: none;
}

.navbar-list ul {
    gap: 40px;
}

.navbar-list ul a {
    text-decoration: none;
    color: black;
}

.icon-part {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icons {
    background-color: #005653;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*/ .navbar1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 25px 60px;
    z-index: 10;
}

.navbar1 .container {
    display: flex;
    align-items: center;
}


.navbar-list ul {
    gap: 40px;
}

.navbar-list ul a {
    text-decoration: none;
    color: black;
}

.icon-part {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icons {
    background-color: #005653;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#first-body {
    animation: bgSlide 12s infinite;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 966px;
    position: relative;
}


@keyframes bgSlide {
    0% {
        background-image: url("assets/abtimg1.png");

    }

    33% {
        background-image: url("assets/abtimg2.png");
    }

    66% {
        background-image: url("assets/abtimg3.png");
    }

    100% {
        background-image: url("assets/abtimg1.png");
    }

}

.first-body-content-box {
    height: 186px;
    width: 767px;
    padding-left: 10%;
    padding-top: 15%;
    color: white;
}

.first-body-title h3 {
    font-family: Baloo2-bold;
    font-size: 90px;
}

.first-body-para p {
    font-family: Roboto-Regular;
    font-size: 26px;
}

.first-body-button a {
    text-decoration: none;
    color: white;
}

.first-body-button {
    list-style: none;
    width: 250px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01DC82;
    border-radius: 30px;
}

.second-body {
    position: relative;
    background: url(assets/aboutbackground2.png) center center / cover no-repeat;
    margin-top: -25%;

    display: flex;
    justify-content: center;

    overflow: hidden;
    width: 100%;
    height: auto;

}

.second-body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    width: 100%;
    position: relative;
    top: 9px;
}

.second-body-part1 {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 40px;
    position: relative;
    top: 20%;

}


.famimg1 {
    width: 320px;
    height: auto;
    animation: largepics 12s infinite;

}

.famimg2 {
    width: 250px;
    height: auto;
    margin-left: 58%;
    margin-bottom: 73%;
    margin-top: -95px;
    animation: smallpics 12s infinite;


}

@keyframes largepics {
    0% {
        content: url(assets/largepic1.png);

    }

    45% {}

    50% {
        content: url(assets/fampic2.png);

    }

    55% {}

    100% {
        content: url(assets/largepic1.png);

    }


}

@keyframes smallpics {
    0% {
        content: url(assets/smallpic1.png);

    }

    60% {}

    66% {
        content: url(assets/fampic1.png);

    }

    72% {}

    100% {
        content: url(assets/smallpic1.png);

    }



}

.second-body-part2 {
    max-width: 600px;

}

.second-body-part2 h2 {
    font-family: Baloo2-bold;
    font-weight: 700;
    color: #025B4B;
    font-size: 70px;
    margin-bottom: 1rem;
    max-width: 290px;
}

.second-body-part2 p {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #333;
    line-height: 1.7;
    text-align: justify;
    max-width: 554px;
}













#second {
    background-image: url(assets/why-bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second {

    width: 100%;
    height: 100%;
    max-height: 735px;
    text-align: center;
    background-color: #005653;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.second-part1-title {
    font-family: poppins-semibold;
    font-size: 50px;
    color: white;
}

.second-part2-gridbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    gap: 70px 100px;
}

.why-icons p {
    font-family: poppins;
    font-size: 15px;
}


.third-part2-gridbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}

.grid-box {
    background: #fff;
    padding: 20px 15px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
    max-width: 245px;
}

.grid-box img {
    width: 60px;
    margin-bottom: 20px;
}

.grid-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.grid-box p {
    font-size: 14px;
    line-height: 20px;
    color: #555;
}

.commonDiv {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 57%;
    margin: auto;
    margin-bottom: 50px;

}

.third-part1-title h3 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    font-weight: 700;
    padding-top: 40px;
}


.flex-box-gridbox2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;
}











.fourth-part2 {
    width: 100%;
    height: 932px;
    background-image: url(assets/foruthpartbgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    animation: contactbgimg 12s infinite;
}

@keyframes contactbgimg {
    0% {
        background-image: url(assets/contact-bgimg1.png);

    }

    33% {
        background-image: url(assets/contact-bginmg2.png);

    }

    66% {
        background-image: url(assets/contact-bging3.png);
    }

    100% {
        background-image: url(assets/contact-bgimg1.png);
    }
}

.fourth-part2-empty {
    width: 50%;
}

.fourth-part2-formbox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 90%;
    max-width: 816px;
    padding: 40px;
    background: rgba(6, 114, 96, 0.7);
    backdrop-filter: blur(4px);
    color: white;
    height: 764px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "fname lname"
        "mail ph"
        "msg msg";
    gap: 20px;
}

.fname {
    grid-area: fname;
}

.lname {
    grid-area: lname;
}

.mail {
    grid-area: mail;
}

.ph {
    grid-area: ph;
}

.msg {
    grid-area: msg;
}

.form-content input,
.form-content textarea {
    width: 100%;
    padding: 10px;
}

.form-content textarea {
    height: 180px;
}

.form-box h4 {
    font-size: 47px;
    font-family: poppin-semibold;
    text-align: center;
}

.button1 {
    width: 168px;
    height: 59px;
    border-radius: 30px;
    background-color: #01DC82;
    color: white;
    border: none;
    cursor: pointer;
}

.button1:hover {
    background-color: orange;
    color: black;
}

.india-cities-section{
        background: linear-gradient(180deg, #FFF6F3 0%, #FFFFFF 100%);
    padding: 80px 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    min-height: auto;
    overflow: visible;
}
.india-cities-header h3{

    font-size: 40px;
    font-weight: 700;
    color: #0C594E;
}
.india-cities-header p{
    color: #555;
    margin-top: 10px;
    font-size: 18px;}
.india-cities-main{
        display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 80px;
    margin-top: 50px;
}
.india-cities-main-map{
    position: relative;
    width: 500px;
}
.india-cities-main-city-grid{
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 114px 87px;
    justify-items: center;
    max-width: 700px;
}
.main-city-icon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
  margin: 10px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-city-grid{
        text-align: center;
   
    border-radius: 50%;
    width: 90px;
    height: 90px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
.main-city-grid p{
        font-size: 13px;
    color: #666;
    width: 150px;
}
.foot {
    height: 205px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.foot-part1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.foot-icon {
    border-radius: 50%;
    border: solid 2px white;
    border-color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}










/* Responsieve side */


@media(max-width:320px) {
    .mobile-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    .fix-center {
        margin: 0;
    }

    #navMenu {
        background: #ffffff;
        padding: 25px 30px;
        border-radius: 12px;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
        margin-top: 12px;
    }

    #main-part2-bgimg {
        background-image: none;
    }

    .navbar1 {
        padding: 10px;

    }

    .main-content {
        height: auto;
    }

    .main-part1 {
        width: 100%;
        padding: 80px 20px 40px;
        gap: 18px;
    }

    .first-title h1 {
        font-size: 26px;
        line-height: 34px;
    }

    .first-para p {
        font-size: 14px;
        line-height: 22px;
    }

    .first-button {
        width: 160px;
        height: 48px;
        margin-top: 15px;
    }

    .first-button button {
        font-size: 14px;
    }

    .main-part2 {
        width: 0;
    }

    .first {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
    }

    .first-part1,
    .first-part2 {
        width: 100%;
    }

    .first-part1-image {
        max-width: 100%;
    }

    .first-part2-title h3 {
        font-size: 28px;
        line-height: 34px;
    }

    .first-part2-para p {
        font-size: 14px;
        line-height: 24px;
    }

    .second-part2-gridbox {
        grid-template-columns: repeat(1, 1fr);
    }



    .second {
        margin-top: 30px;
        width: 100%;
        max-height: 100%;

        text-align: center;
        background-color: #005653;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    .third-part2-gridbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .flex-box-gridbox2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: auto;
    }

    .third-part2 {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }

    .third-part3 {
        width: 100%;
    }

    .grid-box {
        padding: 20px 15px;
    }

    .fourth-part1-cities {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 50px;
    }

    .fourth-part1-title {
        text-align: center;
        font-size: 40px;
        font-family: poppin-bold;
        width: 100%;
    }

    #fourth-part1 {
        flex-direction: column;
        padding: 0 10px;
        gap: 20px;
    }

    .fourth-part2-empty {
        display: none;

    }

    .form-box {
        width: 100%;
        padding: 10px;
        height: auto;

    }

    .fourth-part2-formbox {
        width: 100%;
    }

    .form-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            "fname"
            "lname"
            "mail"
            "ph"
            "msg";
    }

    .foot-part1 {
        gap: 15px;

    }

    .first-body-content-box {
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
    }

    .first-body-title h3 {
        font-family: Baloo2-bold;
        font-size: 80px;
        line-height: 60px;
    }

    .second-body {
        position: relative;

        margin-top: -125%;
    }

    .second-body-container {
        flex-direction: column;
    }

    .famimg2 {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 73%;
    }

    .second-body-part1 {
        display: flex;
        flex-direction: column;
        padding: 70px 0 0 0px;
        position: relative;
        top: 20%;
    }
        .india-cities-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 80px;
    margin-top: 50px;
    flex-direction: column;
}
.india-cities-main-map img{
    width: 100%;
}
.india-cities-main-city-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 114px 87px;
    justify-items: center;
    max-width: 700px;
    margin-bottom: 50px;
}
.india-cities-main-map {
    position: relative;
    width: 100%;
}
}

@media (min-width:321px)and (max-width:640px) {
    .mobile-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    #navMenu {
        background: #ffffff;
        padding: 25px 30px;
        border-radius: 12px;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
        margin-top: 12px;
    }

    .fix-center {
        margin: 0;
    }

    .main-content {
        height: auto;
    }

    #main-part2-bgimg {
        background-image: none;
    }

    .navbar1 {
        padding: 10px;

    }

    .main-content {
        flex-direction: column;
    }

    .main-part1 {
        width: 100%;
        padding: 100px 30px 50px;
    }

    .first-title h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .first-para p {
        font-size: 16px;
        line-height: 24px;
    }

    .first-button {
        width: 180px;
        height: 52px;
    }

    .main-part2 {
        width: 0;
    }

    .first {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
    }

    .first-part1,
    .first-part2 {
        width: 100%;
    }

    .first-part1-image {
        max-width: 100%;
    }

    .first-part2-title h3 {
        font-size: 28px;
        line-height: 34px;
    }

    .first-part2-para p {
        font-size: 14px;
        line-height: 24px;
    }

    .second-part2-gridbox {
        grid-template-columns: repeat(1, 1fr);
    }





    .second {
        margin-top: 30px;
        width: 100%;
        max-height: 100%;

        text-align: center;
        background-color: #005653;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    .third-part2-gridbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .flex-box-gridbox2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: auto;
    }

    .third-part2 {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }

    .third-part3 {
        width: 100%;
    }

    .grid-box {
        padding: 20px 15px;
    }

    .fourth-part1-cities {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 50px;
    }

    .fourth-part1-title {
        text-align: center;
        font-size: 40px;
        font-family: poppin-bold;
        width: 100%;
    }

    #fourth-part1 {
        flex-direction: column;
        padding: 0 10px;
        gap: 20px;
    }

    .fourth-part2-empty {
        display: none;

    }

    .form-box {
        width: 100%;
        padding: 10px;
        height: auto;

    }

    .fourth-part2-formbox {
        width: 100%;
    }

    .form-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            "fname"
            "lname"
            "mail"
            "ph"
            "msg";
    }

    .foot-part1 {
        gap: 15px;

    }






    .first-body-content-box {
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
    }

    .first-body-title h3 {
        font-family: Baloo2-bold;
        font-size: 80px;
        line-height: 60px;
    }

    .second-body {
        position: relative;

        margin-top: -125%;
    }

    .second-body-container {
        flex-direction: column;
    }

    .famimg2 {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 73%;
    }

    .second-body-part1 {
        display: flex;
        flex-direction: column;
        padding: 70px 0 0 0px;
        position: relative;
        top: 20%;
    }

    .second-body-part2 {
        max-width: 600px;
        padding: 10px;
    }
     .india-cities-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 80px;
    margin-top: 50px;
    flex-direction: column;
}
.india-cities-main-map img{
    width: 100%;
}
.india-cities-main-city-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 114px 87px;
    justify-items: center;
    max-width: 700px;
    margin-bottom: 50px;
}
.india-cities-main-map {
    position: relative;
    width: 100%;
}
}

@media (min-width:641px)and (max-width:768px) {
    .mobile-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    .fix-center {
        margin: 0;
    }

    #navMenu {
        background: #ffffff;
        padding: 25px 30px;
        border-radius: 12px;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
        margin-top: 12px;
    }

    #main-part2-bgimg {
        background-image: none;
    }

    .navbar1 {
        padding: 10px;

    }

    .main-content {
        flex-direction: column;
        height: auto;
    }

    .main-part1 {
        width: 100%;
        padding: 120px 40px 60px;
    }

    .first-title h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .first-para p {
        font-size: 18px;
        line-height: 28px;
    }

    .first-button {
        width: 200px;
        height: 58px;
    }

    .main-part2 {
        width: 0;
    }

    .first {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
    }

    .first-part1,
    .first-part2 {
        width: 100%;
    }

    .first-part1-image {
        max-width: 100%;
    }

    .first-part2-title h3 {
        font-size: 28px;
        line-height: 34px;
    }

    .first-part2-para p {
        font-size: 14px;
        line-height: 24px;
    }

    .second-part2-gridbox {
        grid-template-columns: repeat(2, 1fr);
    }





    .second {
        margin-top: 30px;
        width: 100%;
        max-height: 100%;

        text-align: center;
        background-color: #005653;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    .third-part2-gridbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .flex-box-gridbox2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: auto;
    }

    .commonDiv {
        gap: 33px;
        width: 84%;
        margin: auto;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .third-part2 {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }

    .third-part3 {
        width: 100%;
    }

    .grid-box {
        padding: 20px 15px;
    }

    .fourth-part1-cities {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 50px;
    }

    .fourth-part1-title {
        text-align: center;
        font-size: 40px;
        font-family: poppin-bold;
        width: 100%;
    }

    #fourth-part1 {
        flex-direction: column;
        padding: 0 10px;
        gap: 20px;
    }

    .fourth-part2-empty {
        display: none;

    }

    .form-box {
        width: 100%;
        padding: 10px;
        height: auto;

    }

    .fourth-part2-formbox {
        width: 100%;
    }

    .form-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            "fname"
            "lname"
            "mail"
            "ph"
            "msg";
    }

    .foot-part1 {
        gap: 15px;

    }


    .second-body-part2 {
        max-width: 600px;
        padding: 10px;
    }

    .first-body-content-box {

        padding-top: 25%;
        width: 100%;
    }

    .first-body-title h3 {
        font-family: Baloo2-bold;
        font-size: 80px;
        line-height: 60px;
    }

    .second-body {
        position: relative;

        margin-top: -80%;
    }

    .second-body-container {
        flex-direction: column;
    }

    .second-body-part1 {
        display: flex;
        flex-direction: column;
        padding: 70px 0 0 0px;
        position: relative;
        top: 20%;
    }

    .india-cities-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 80px;
    margin-top: 50px;
    flex-direction: column;
}
.india-cities-main-map img{
    width: 100%;
}
.india-cities-main-city-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 114px 87px;
    justify-items: center;
    max-width: 700px;
    margin-bottom: 50px;
}
}

@media (min-width:769px)and (max-width:984px) {
    .mobile-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    .fix-center {
        margin: 0;
    }

    #navMenu {
        background: #ffffff;
        padding: 25px 30px;
        border-radius: 12px;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
        margin-top: 12px;
    }

    #main-part2-bgimg {
        background-image: none;
    }

    .navbar1 {
        padding: 10px;

    }

    .main-content {
        flex-direction: column;
        height: auto;
    }

    .main-part1 {
        width: 100%;
        padding: 120px 40px 60px;
    }

    .first-title h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .first-para p {
        font-size: 18px;
        line-height: 28px;
    }

    .first-button {
        width: 200px;
        height: 58px;
    }

    .main-part2 {
        width: 0;
    }

    .first {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
    }

    .first-part1,
    .first-part2 {
        width: 100%;
    }

    .first-part1-image {
        max-width: 100%;
    }

    .first-part2-title h3 {
        font-size: 28px;
        line-height: 34px;
    }

    .first-part2-para p {
        font-size: 14px;
        line-height: 24px;
    }

    .second-part2-gridbox {
        grid-template-columns: repeat(2, 1fr);
    }





    .second {
        margin-top: 30px;
        width: 100%;
        max-height: 100%;

        text-align: center;
        background-color: #005653;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    .third-part2-gridbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .commonDiv {
        gap: 33px;
        width: 84%;
        margin: auto;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .flex-box-gridbox2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: auto;
    }

    .third-part2 {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }

    .third-part3 {
        width: 100%;
    }

    .grid-box {
        padding: 20px 15px;
    }

    .fourth-part1-cities {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 50px;
    }

    .fourth-part1-title {
        text-align: center;
        font-size: 40px;
        font-family: poppin-bold;
        width: 100%;
    }

    #fourth-part1 {
        flex-direction: column;
        padding: 0 10px;
        gap: 20px;
    }

    .fourth-part2-empty {
        display: none;

    }

    .form-box {
        width: 100%;
        padding: 10px;
        height: auto;

    }

    .fourth-part2-formbox {
        width: 100%;
    }

    .form-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            "fname"
            "lname"
            "mail"
            "ph"
            "msg";
    }

    .foot-part1 {
        gap: 15px;

    }


    .second-body-part2 {
        max-width: 600px;
        padding: 10px;
    }

    .first-body-content-box {

        padding-top: 25%;
        width: 100%;
    }

    .first-body-title h3 {
        font-family: Baloo2-bold;
        font-size: 80px;
        line-height: 60px;
    }

    .second-body {
        position: relative;

        margin-top: -56%;
    }

    .second-body-container {
        flex-direction: column;
    }

    .second-body-part1 {
        display: flex;
        flex-direction: column;
        padding: 70px 0 0 0px;
        position: relative;
        top: 20%;
    }
}