.navbar1 {
    position: absolute;
    padding: 25px 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fix-center {
    margin-left: 12%;
    margin-right: auto;
}

.mobile-icons {
    display: none;
}

.navbar-list ul {
    gap: 40px;
}

.navbar-list ul a {
    text-decoration: none;
    color: black;
}

.icon-part {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icons {
    background-color: #005653;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*/ .navbar1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 25px 60px;
    z-index: 10;
}

.navbar1 .container {
    display: flex;
    align-items: center;
}


.navbar-list ul {
    gap: 40px;
}

.navbar-list ul a {
    text-decoration: none;
    color: black;
}

.icon-part {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icons {
    background-color: #005653;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    height: 100vh;
    max-height: 919px;
}
.main{
    background: linear-gradient(to top, #D2F3E5, #FFFFFF);
        overflow: hidden;
}
.main-part1 {
    width: 50%;
    padding: 160px 60px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    overflow: hidden;

}
.main-part1::before{ 
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(assets/design1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -22px;
        opacity: 0.2;
    z-index: 0;
  
}

/* CONTENT */
.first-title {
    max-width: 588px;
}

.first-title h1 {
    font-family: poppinsbold;
    font-size: 60px;
    line-height: 75px;
}

.first-para {
    max-width: 675px;
}

.first-para p {
    font-family: poppins;
    font-size: 21px;
    line-height: 33px;
}

.first-button {
    width: 250px;
    height: 68px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-button button {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    background-color: #01DC82;
    border: none;
}


.main-part2 {
    width: 50%;
    max-height: 919px;
}


#main-part2-bgimg {
    background-image: url(assets/homebanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}


.first {
    width: 100%;
    display: flex;
    gap: 160px;
    padding: 60px 75px;
}

.first-part1 {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.first-part1-image {

    max-width: 670px;
    max-height: 803px;


}

.first-part1-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.first-part2 {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-part2-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;


}

.first-part2-title h3 {
    font-family: poppins-semibold;
    font-size: 60px;
}

.first-part2-para {
    max-width: 703px;
    height: 352px;
}

.first-part2-para p {
    font-family: poppins-regular;
    font-size: 18px;
    line-height: 32px;
}

#second {
    background-image: url(assets/why-bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second {

    width: 100%;
    height: 100%;
    max-height: 735px;
    text-align: center;
    background-color: #005653;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.second-part1-title {
    font-family: poppins-semibold;
    font-size: 50px;
    color: white;
}

.second-part2-gridbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    gap: 70px 100px;
}

.why-icons p {
    font-family: poppins;
    font-size: 15px;
}





.third {
    width: 100%;
    padding: 60px 0;

}

.third-part1-title h3 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    font-weight: 700;

}

.third-part2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.third-part2-gridbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}

.grid-box {
    background: #fff;
    padding: 25px 8px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
    max-width: 245px;
}

.grid-box img {
    width: 60px;
    margin-bottom: 20px;
}

.grid-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.grid-box p {
    font-size: 14px;
    line-height: 20px;
    color: #555;
}

.third-part3 {
    width: 520px;


}

.third-part3 img {
    width: 100%;
    object-fit: cover;
}

.commonDiv {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 57%;
}

.flex-box-gridbox2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;
}



.fourth-part1 {
    width: 100%;
    height: 196px;

}

#fourth-part1 {
    background-image: url(assets/fourthpart1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-part1-title {
    text-align: center;
    font-size: 40px;
    font-family: poppin-bold;
    width: 50%;
}

.fourth-part1-cities {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;

}

.fourth-part1-city {
    background-color: black;
    width: 195px;
    height: 58px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fourth-part2 {
    width: 100%;
    height: 932px;
    background-image: url(assets/foruthpartbgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.fourth-part2-empty {
    width: 50%;
}

.fourth-part2-formbox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 90%;
    max-width: 816px;
    padding: 40px;
    background: rgba(6, 114, 96, 0.7);
    backdrop-filter: blur(4px);
    color: white;
    height: 764px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "fname lname"
        "mail ph"
        "msg msg";
    gap: 20px;
}

.fname {
    grid-area: fname;
}

.lname {
    grid-area: lname;
}

.mail {
    grid-area: mail;
}

.ph {
    grid-area: ph;
}

.msg {
    grid-area: msg;
}

.form-content input,
.form-content textarea {
    width: 100%;
    padding: 10px;
}

.form-content textarea {
    height: 180px;
}

.form-box h4 {
    font-size: 47px;
    font-family: poppin-semibold;
    text-align: center;
}

.button1 {
    width: 168px;
    height: 59px;
    border-radius: 30px;
    background-color: #01DC82;
    color: white;
    border: none;
    cursor: pointer;
}

.button1:hover {
    background-color: orange;
    color: black;
}


.foot {
    height: 205px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.foot-part1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.foot-icon {
    border-radius: 50%;
    border: solid 2px white;
    border-color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Responsieve side */


@media(max-width:320px) {
    .mobile-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    #main-part2-bgimg {
        background-image: none;
    }

    .navbar1 {
        padding: 10px;

    }

   .first-title h1 {
        font-size: 26px;
        line-height: 34px;
        text-align: center;
    }

    .first-para p {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .first-button {
        width: 160px;
        height: 45px;
        margin: 15px auto;
    }

    .first-button button {
        font-size: 14px;
    }

    .main-part1 {
                padding: 100px 10px 0 10px;

        width: 100%;
    }
    .main-part2{
        width: 0;
    }
    .first{
        padding: 0 10px 0 10px;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .first-part1 , .first-part2{
        width: 100%;
    }
    .second-part2-gridbox{
        grid-template-columns: repeat(1,1fr);
    }

   .first-part2-content h1 {
        font-size: 26px;
        line-height: 34px;
        text-align: center;
    }

    .first-part2-content p {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    .second{
            margin-top: 30px;  
              width: 100%;
    max-height: 100%;
   
    text-align: center;
    background-color: #005653;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    }
    
.third-part2-gridbox
 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.flex-box-gridbox2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: auto;
}
.third-part2 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.third-part3 {
    width: 100%;
}
.grid-box {
    padding: 25px 0;
}
.fourth-part1-cities {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
}

.fourth-part1-title {
    text-align: center;
    font-size: 40px;
    font-family: poppin-bold;
    width: 100%;
}
#fourth-part1{
    flex-direction: column;
    padding: 0 10px;
    gap: 20px;
}
.fourth-part2-empty {
    display: none;
    
}
.form-box{
        width: 100%;
    padding: 10px;
        height: auto;

}
.fourth-part2-formbox {
    width: 100%;}
   .form-content{
    grid-template-columns: 1fr;
        grid-template-areas:
        "fname"
        "lname"
        "mail"
        "ph"
        "msg";
   } 
   .foot-part1{
    gap:15px;

   }
}
@media (min-width:321px)and (max-width:640px){
    .mobile-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    #main-part2-bgimg {
        background-image: none;
    }

    .navbar1 {
        padding: 10px;

    }

   .first-title h1 {
               font-size: 40px;
        line-height: 60px;
        text-align: center;
    }

    .first-para p {
        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }

    .first-button {
        width: 160px;
        height: 45px;
        margin: 15px auto;
    }

    .first-button button {
        font-size: 14px;
    }

    .main-part1 {
                        padding: 136px 40px 0 40px;
        width: 100%;
    }
    .main-part2{
        width: 0;
    }
    .first{
        padding: 0 40px 0 40px;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .first-part1 , .first-part2{
        width: 100%;
    }
    .second-part2-gridbox{
        grid-template-columns: repeat(1,1fr);
    }

   

        .first-part2-content p {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }
    .second{
            margin-top: 30px;  
              width: 100%;
    max-height: 100%;
   
    text-align: center;
    background-color: #005653;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    }
    
.third-part2-gridbox
 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
}
.flex-box-gridbox2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: auto;
}
.third-part2 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.third-part3 {
    width: 100%;
}
.grid-box {
    padding: 25px 0;
}
.fourth-part1-cities {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
}

.fourth-part1-title {
    text-align: center;
    font-size: 40px;
    font-family: poppin-bold;
    width: 100%;
}
#fourth-part1{
    flex-direction: column;
    padding: 0 10px;
    gap: 20px;
}
.fourth-part2-empty {
    display: none;
    
}
.form-box{
        width: 100%;
    padding: 10px;
        height: auto;

}
.fourth-part2-formbox {
    width: 100%;}
   .form-content{
    grid-template-columns: 1fr;
        grid-template-areas:
        "fname"
        "lname"
        "mail"
        "ph"
        "msg";
   } 
   .foot-part1{
    gap:15px;

   }
}